.App {
  font-family: sans-serif;
  text-align: center;
}
h1 {
  background-color: #ffdfd3;
  padding: 5%;
}
h2 {
  background-color: #fec8d8;
  color: #957dad;
}
button {
  padding: 5px;
  margin: 5px;
  color: #fff;
  background-color: #957dad;
  border: none;
  display: inline-block;
}
